@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

html {
  color-scheme: light;
}

html.dark {
  color-scheme: dark;
}

body {
  transition:
    background-color 0.25s ease,
    color 0.25s ease;
}
@keyframes heroZoom {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.2);
  }
}

.animate-heroZoom {
  animation: heroZoom 6s ease-in-out infinite alternate;
}
/* Hide arrows by default */

.property-swiper .swiper-button-prev,
.property-swiper .swiper-button-next {
  opacity: 0;
  transition: opacity 0.3s ease;
}
html,
body,
#root {
  width: 100%;
  max-width: 100%;
}

html,
body {
  overflow-x: hidden;
}
/* Show arrows when hovering over the card */

.group:hover .swiper-button-prev,
.group:hover .swiper-button-next {
  opacity: 1;
}
/* Arrow Buttons */

.property-swiper.swiper-button-next,
.property-swiper.swiper-button-prev {
    width:44px;
    height:44px;

    border-radius:9999px;

    backdrop-filter:blur(12px);

    background:rgba(255,255,255,.85);
}

/* Arrow Icon */

.property-swiper .swiper-button-prev::after,
.property-swiper .swiper-button-next::after {
  font-size: 16px;
  font-weight: bold;
  color: #2563eb;
}

/* Hover */

.property-swiper .swiper-button-prev:hover,
.property-swiper .swiper-button-next:hover {
  transform: scale(1.08);
}
/* Pagination Container */

.property-swiper .swiper-pagination {
  bottom: 12px !important;
}

/* Normal Dot */

.property-swiper .swiper-pagination-bullet {
  width: 8px;
  height: 8px;

  background: white;

  opacity: .7;

  transition: all .3s ease;
}

/* Active Dot */

.property-swiper .swiper-pagination-bullet-active {
  width: 24px;

  border-radius: 999px;

  background: #2563eb;

  opacity: 1;
}
@media (max-width: 767px) {
  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }
}

.gallery-swiper .swiper-button-next,
.gallery-swiper .swiper-button-prev {
  width: 46px;
  height: 46px;
  border-radius: 9999px;
  background: transparent;
  color: #2563eb;
}

.gallery-swiper .swiper-button-next::after,
.gallery-swiper .swiper-button-prev::after {
  font-size: 18px;
  font-weight: 700;
}

.gallery-swiper .swiper-pagination-bullet {
  background: white;
  opacity: 0.5;
}

.gallery-swiper .swiper-pagination-bullet-active {
  opacity: 1;
  transform: scale(1.2);
}